<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App Pec5</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" 
         aria-label="Example icon-button with icon" (click)="cardsAlbum()">
          <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" 
         aria-label="Example icon-button with icon" (click)="listaAlbum()">
            <mat-icon>format_list_bulleted</mat-icon>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>      
</p>    
